<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/color.svg?alt=media&token=90b44b5e-92e5-4b4c-a281-7cb8cec96610" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <title>DIB School</title>
  <style>
    body{ font-family: 'Noto Sans JP', sans-serif;margin: 0; }
  </style>
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- <script type="systemjs-importmap" src="https://storage.googleapis.com/vue.microfrontends.app/importmap.json"></script> -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.8.3/lib/umd/single-spa.min.js",
        "@vue-mf/root-config": "https://rizkyrosyidhidayat.gitlab.io/elearning-app-shell/vue-mf-root-config.js",
        "@vue-mf/landingpage": "https://rizkyrosyidhidayat.gitlab.io/elearning-team-landingpage/js/app.js",
        "@vue-mf/search": "https://rizkyrosyidhidayat.gitlab.io/elearning-team-search/js/app.js",
        "@vue-mf/materi": "https://rizkyrosyidhidayat.gitlab.io/elearning-team-materi/js/app.js",
        "vue": "https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js",
        "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.1.6/dist/vue-router.min.js",
        "vuex": "https://cdn.jsdelivr.net/npm/vuex@3.6.0/dist/vuex.min.js",
        "firebase": "https://cdn.jsdelivr.net/npm/firebase@8.2.1/dist/index.esm.min.js",
        "single-spa-vue": "https://cdn.jsdelivr.net/npm/single-spa-vue@2.1.0/dist/umd/single-spa-vue.min.js"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.14.6/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/extras/named-exports.min.js"></script>
</head>
<body>
  <script>
    System.import('@vue-mf/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
